<!DOCTYPE HTML>
<html lang="es" >
    <head>
        <nav>
            <ul>
                <li><a href ='/'>Inicio</a></li>
                <li><a href ='/match/'>partidos</a></li>
                <li><a href ='/teams/'>equipos</a></li>
                <li><a href ='/players/'>jugadores</a></li>
                <li><a href ='/coach/'>entrenadores</a></li>
            </ul>
        </nav>
        <hr>
    </head>
    <section>
            <h1>Informacion de entrenadores:</h>
            <ul>
                {% for dato in entres %}
                <li>{{dato.name}}</li> -<em>Sobrenombre: {{dato.nickname}}</em> <br>
                 -<em>Equipo: {{dato.team}}</em>
                {% endfor %}
            </ul>
            <hr>
    </section>        