<!DOCTYPE HTML>
<html lang="es" >
    <head>
        <nav>
            <ul>
                <li><a href ='/'>Inicio</a></li>
                <li><a href ='/match/'>partidos</a></li>
                <li><a href ='/teams/'>equipos</a></li>
                <li><a href ='/players/'>jugadores</a></li>
                <li><a href ='/coach/'>entrenadores</a></li>
            </ul>
        </nav>
        <hr>
    </head>
    <section>
        <h1>Aqui estan los cinco ultimos partidos planificados, y los ultimas incorporaciones a los equipos!!</h>
        <p>Partidos fijados de la siguiente manera:</p>
        <ul>
            {% for dato in parts %}
            <li>{{dato.name}}</li> - <em>{{dato.date}} - {{dato.team1}} vs {{dato.team2}}</em>
            {% endfor %}
        </ul>
        <p>Incorporaciones de ultimo minuto:</p>
        <ul>
            {% for data in jugs %}
            <li>{{data.name}}</li> - <em>Equipo: {{data.team}} - Posicion: {{data.position}}</em>
            {% endfor %}
        </ul>
        <hr>
    </section>