<!DOCTYPE HTML>
<html lang="es" >
    <head>
        <nav>
            <ul>
                <li><a href ='/'>Inicio</a></li>
                <li><a href ='/match/'>partidos</a></li>
                <li><a href ='/teams/'>equipos</a></li>
                <li><a href ='/players/'>jugadores</a></li>
                <li><a href ='/coach/'>entrenadores</a></li>
            </ul>
        </nav>
        <hr>
    </head>
    <section>
        <h1>Listado de todas los jugadores de cada equipo:</h>
            <ul>
                {% for dato in equip%}
                <li>
                    {{dato.name}}
                    <ul><em>
                        {% for jug in jugs %}
                            {% if jug.team == dato %}
                            <li>{{jug}}</li>
                            {% endif %}
                        {% endfor %}    
                    </ul></em>
                </li>
                {% endfor %}
            </ul>
        <hr>
    </section>