<!DOCTYPE HTML>
<html lang="es" >
    <head>
        <nav>
            <ul>
                <li><a href ='/'>Inicio</a></li>
                <li><a href ='/match/'>partidos</a></li>
                <li><a href ='/teams/'>equipos</a></li>
                <li><a href ='/players/'>jugadores</a></li>
                <li><a href ='/coach/'>entrenadores</a></li>
            </ul>
        </nav>
        <hr>
    </head>
    <section>
        <h1>Listado de todos los partidos a realizar:</h>
        <ul>
            {% for dato in parts %}
            <li>{{dato.name}}</li>
            - <em>Fecha: {{dato.date}}</em><br>
            - <em>Enfrentamiento: {{dato.team1}} vs {{dato.team2}}</em>
            {% endfor %}
        </ul>
        <hr>
    </section>